html {
	font-family: "Tajawal" !important;
	.text-h1,
	.text-h2,
	.text-h3,
	.text-h4,
	.text-h5,
	.text-h6,
	.text-caption,
	.text-body-1,
	.text-body-2,
	.text-overline,
	.text-subtitle-1,
	.text-subtitle-2,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "DM Sans" !important;
	}
}

.v-btn {
	text-transform: none !important;
	letter-spacing: 0 !important;
}

.v-btn-group {
	&.hidden-overlay .v-btn__overlay {
		display: none;
	}
}

.v-label {
	font-weight: 500 !important;
	opacity: 1;
}
@media (min-width: 1280px) {
    .v-container {
        max-width: 1440px !important;
    }
}